body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.3;
  color:#566473;
}
 /* 
  SITE NAVIGATION 
 */
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 0 #566473;
  padding: 0.5rem 1rem;
}
.site-nav img {
  width: 2rem;
}
.site-nav h1 {
  font-size: 0.8rem;
  font-weight: 700;
}
.site-nav button {
  background: #566473;
  border: none;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}
/* 
  SHIPPING RATES FORM HEADER  
*/

.shipping-calculator {
  width: 520px;
  margin: 4rem auto;
}
/* shipping calculator header */
.shipping-calculator header {
  text-align: center;
  color: #414d5a;
}
.shipping-calculator header img {
  width: 8rem;
  margin-bottom: -1rem;
}

.shipping-calculator h2 {
  font-size: 3rem;
  font-weight: 700;;
  letter-spacing: 0px;
  line-height: 1;
  margin-bottom: 0.25rem;
}
/* 
  QUOTED PRICE STYLES  
*/
.rate{
 text-align: center;
}

/* 
  FREE QUOTE BUTTON AND INPUT STYLES 
*/
.warning{
  color:red;
}
/* 
  FREE QUOTE BUTTON AND INPUT STYLES 
*/
.quote-calculator{
  margin: 0rem auto;
  position: relative;
}
 
.free-quote {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.free-quote input,
.get-quote-btn {
     padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
 .get-quote-btn{
   border:none;
    background:#566473;
    outline-none;
    color:#ffffff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.get-quote-button:hover {
  background:#748496;
  color:#ffffff;

}

.free-quote input {
  text-align: right;
  padding-right: 2.5rem;
  width: 124px;
    border:none;
    box-shadow: 0 0 3px 0 #566473 inset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #414d5a;
    outline-color: #414d5a;
    background: url(../img/icons/kilograms.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: 59%;
    background-position-x: 90%;
}

/* 
TERMS AND CONDITIONS
 */
 .terms{
  width: 65%;
  margin: 0  auto;
  color:#748496;
  
  font-size: 12px;
 }
 .terms p:last-of-type{
   margin: 0.45rem ;
   text-align: center;
 }
 .terms span{
   color:tomato;
 }
 
 
/* 
UTILITY CLASSES
*/
.hide{
  visibility: hidden;
 
}

.show{
  display:block;
}
