body {
	font-family: sans-serif;
}

.feature.description {
	font-family: serif;
	font-size: 1.2em;
}

.feature.description > i {
	display: block;
	margin-left: 2em;
}

.hidden {
	display: none;
}

.image-blur {
	filter: blur(5px);
}

code {
	font-family: monospace;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #eee;
	padding: 0.2em;
	color: blue;
}

kbd {
	font-family: monospace;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #eee;
	padding: 0.2em;
	border-radius: 0.4em;
	border-style: solid;
	border-width: thin;
}